.user-selector {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.radio > div {
  margin-right: 10px;
}

.select {
  min-width: 200px;
}

.select .ant-select {
  min-width: 200px;
}